@model Quest.WebCore.Models.HudModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    @foreach (var f in Model.Styles)
    {
        <link href="@f" rel="stylesheet" />
    }
</head>
<body>

    <div id="swap" class="hidden"></div>

    @*<div id="sys_username" data-value="@User.Identity.Name"></div>*@
    <div id="sys_username" data-username="marcus.poulton"></div>
    <div id="sys_hub"></div>

    <div class="container-fluid" id="hud">
        <div class="row full-height" id="panel-container">

        </div>
    </div>

    <span id="pluginLoaderUrl" data-url="@Url.Action("CreatePlugin", "Plugin")"></span>
    <span id="layoutLoaderUrl" data-url="@Url.Action("GetLayout", "Plugin")"></span>
    <span id="renderPanelUrl" data-url="@Url.Action("RenderPanel", "Plugin")"></span>
    <span id="renderLayoutUrl" data-url="@Url.Action("RenderLayout", "Plugin")"></span>
    <span id="renderNamedLayoutUrl" data-url="@Url.Action("RenderLayoutByName", "Plugin")"></span>

    <!-- Required external libraries -->
    <script src="~/lib/jQuery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/underscore/underscore.js"></script>

    <script type="text/javascript">
    if (typeof Promise === 'undefined') {
        document.write(
            '<script type="text/javascript" src="js/signalr-clientES5-1.0.0-alpha2-final.js"><\/script>' +
            '<script type="text/javascript" src="js/signalr-msgpackprotocolES5-1.0.0-alpha2-final.js"><\/script>');
    }
    else {
        document.write(
            '<script type="text/javascript" src="js/signalr-client-1.0.0-alpha2-final.js"><\/script>' +
            '<script type="text/javascript" src="js/signalr-msgpackprotocol-1.0.0-alpha2-final.js"><\/script>');
    }
    </script>
    

    <!-- The core hud library -->
    <script type="text/javascript" src="~/js/hud.js"></script>

    <!-- Include the libraries for any plugin that might be called -->
    @foreach (var f in Model.Scripts)
    {
        <script src="@f"></script>
    }

    <script type="text/javascript">
        $(function () {
            hud.initialize();
            hud.loadLayout("#panel-container", "@Model.Layout");
        });
    </script>
</body>
</html>
