@model Quest.Mobile.Models.HomeViewModel

@{
    Layout = "~/Views/Shared/_MapLayout.cshtml";
}

@section Scripts {    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/map")
    @Styles.Render("~/Content/core")
    @Styles.Render("~/Content/map")

    @*TODO:Bundling....when we are happy with the date picker*@
    <link href="~/css/air-datepicker/datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/air-datepicker/datepicker.js"></script>
    <script src="~/Scripts/air-datepicker/datepicker.en.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
}

<style type="text/css">
    /*Visualisation styles*/

    .ui-dialog {
        box-shadow: 1px 1px 15px #333;
    }

    .vis-item {
        border-color: #F991A3;
        background-color: pink;
        font-size: 15pt;
        color: purple;
        box-shadow: 5px 5px 20px rgba(128,128,128, 0.5);
    }

        .vis-item.T0 {
            background-color: #d73027;
        }

        .vis-item.T1 {
            background-color: #d73027;
        }

        .vis-item.T2 {
            background-color: #d73027;
        }

        .vis-item.T3 {
            background-color: #d73027;
        }

        .vis-item.T4 {
            background-color: #d73027;
        }

        .vis-item.enroute {
            background-color: #d73027;
        }

        .vis-item.athosp {
            background-color: #fc8d59;
        }

        .vis-item.available {
            background-color: #e0f3f8;
        }

        .vis-item.onsecene {
            background-color: #fee090;
        }

        .vis-item.tohosp {
            background-color: #4575b4;
        }

        .vis-item.ENR {
            background-color: #d73027;
        }

        .vis-item.TAR {
            background-color: #fc8d59;
        }

        .vis-item.WAI {
            background-color: #e0f3f8;
        }

        .vis-item.ONS {
            background-color: #fee090;
        }

        .vis-item.TRN {
            background-color: #4575b4;
        }

    .resource-default {
        background-color: #bdbdbd;
    }
</style>

<script type="text/javascript">
    window.applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(
        new Uri(
                   new Uri(this.Context.Request.Url.GetLeftPart(UriPartial.Authority)),
                   Url.Content("~/")
               ).ToString(), true));
</script>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-icon-container">
                <a href="#" class="navbar-icon pull-right visible-xs" id="nav-btn"><i class="fa fa-bars fa-lg white"></i></a>
            </div>
            <a class="navbar-brand" href="#">Quest</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a id="toolsDrop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-globe white"></i>&nbsp;&nbsp;Tools <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="searchpanel-btn"><i class="fa fa-list white"></i>&nbsp;&nbsp;Search</a></li>
                        @if (Model.HasClaim(Model.Claims, "permission", "ui.routing"))
                        {
                            <li><a href="#" id="routepanel-btn"><i class="fa fa-list white"></i>&nbsp;&nbsp;Directions</a></li>
                            <li><a href="#" id="routecmppanel-btn"><i class="fa fa-list white"></i>&nbsp;&nbsp;Route Compare</a></li>
                        }
                        <li class="divider hidden-xs"></li>
                        <li><a href="#" id="full-extent-btn"><i class="fa fa-arrows-alt"></i>&nbsp;&nbsp;Zoom To Full Extent</a></li>
                        <li><a href="#" id="legend-btn"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;Show Legend</a></li>
                        <li class="divider hidden-xs"></li>
                        @if (Model.HasClaim(Model.Claims, "permission", "ui.showResourceMenu"))
                        {
                            <li><a href="#" id="settings-res-btn"><i class="fa fa-ambulance"></i>&nbsp;&nbsp;Resources</a></li>
                        }
                        @if (Model.HasClaim(Model.Claims, "permission", "ui.showEventsMenu"))
                        {
                            <li><a href="#" id="settings-inc-btn"><i class="fa fa-user"></i>&nbsp;&nbsp;Events</a></li>
                        }
                        @if (Model.HasClaim(Model.Claims, "permission", "ui.showLayersMenu"))
                        {
                            <li><a href="#" id="settings-lay-btn"><i class="fa fa-stack-overflow"></i>&nbsp;&nbsp;Layers</a></li>
                        }
                        @if (Model.HasClaim(Model.Claims, "permission", "ui.dispatch"))
                        {
                            <li class="divider hidden-xs"></li>
                            <li><a href="#" id="dispatch-btn"><i class="fa fa-forward"></i>&nbsp;&nbsp;Dispatch</a></li>
                        }
                    </ul>
                </li>

                @if (Model.HasClaim(Model.Claims, "permission", "ui.analysisMenu"))
                {
                    <li class="dropdown">
                        <a id="toolsDrop3" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-clipboard white"></i>&nbsp;&nbsp;Analysis<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="mapmatcher-btn"><i class="fa fa-bars"></i>&nbsp;&nbsp;Map matcher</a></li>
                            <li><a href="#" id="managespatial-btn"><i class="fa fa-bars"></i>&nbsp;&nbsp;Manage Spatial Data</a></li>
                            <li class="divider hidden-xs"></li>
                            @if (Model.HasClaim(Model.Claims, "permission", "ui.timeline"))
                            {
                                <li class="hidden-xs"><a href="#" id="timepanel-btn"><i class="fa fa-list white"></i>&nbsp;&nbsp;Query</a></li>
                                <li class="hidden-xs"><a href="#" id="timeline-btn"><i class="fa fa-list white"></i>&nbsp;&nbsp;Show timeline</a></li>
                            }
                        </ul>
                    </li>
                }

                @if (Model.HasClaim(Model.Claims, "permission", "ui.adminMenu"))
                {
                    <li class="dropdown">
                        <a id="toolsDrop3" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-clipboard white"></i>&nbsp;&nbsp;Administration<b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            @if (Model.HasClaim(Model.Claims, "permission", "ui.jobMenu"))
                            {
                                <li><a href="#" id="indexer-btn"><i class="fa fa-mobile"></i>&nbsp;&nbsp;Indexer</a></li>
                            }
                            @if (Model.HasClaim(Model.Claims, "permission", "ui.test"))
                            {
                                <li class="divider hidden-xs"></li>
                                <li><a href="#" id="testcall-btn"><i class="fa fa-mobile"></i>&nbsp;&nbsp;Test calls</a></li>
                                <li><a href="~/Home/TestLocations"><i class="fa fa-location-arrow"></i>&nbsp;&nbsp;Locations</a></li>
                                <li><a href="~/Home/TestRoutes"><i class="fa fa-exchange"></i>&nbsp;&nbsp;Routes</a></li>
                            }
                        </ul>
                    </li>
                }



            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav navbar-nav navbar-right">
                    <a id="toolsDrop2" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog white"></i>&nbsp;&nbsp;Options<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a>@Model.User</a></li>
                        <li class="divider hidden-xs"></li>
                        <li><a href="~/Settings/Index"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Settings</a></li>
                        <li><a href="~/Account/Logout"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;Sign Out</a></li>

                        @if (Model.HasClaim(Model.Claims, "permission", "ui.showLayersMenu"))
                        {
                            <li><a href="~/Security/Index"><i class="fa fa-stack-overflow"></i>&nbsp;&nbsp;Security</a></li>
                        }
                        <li class="divider hidden-xs"></li>
                        <li><a href="#" id="about-btn"><i class="fa fa-question-circle"></i>&nbsp;&nbsp;Help</a></li>
                    </ul>
                </li>
            </ul>

        </div><!--/.navbar-collapse -->
    </div>
</div>

<div id="banner" class="container" style="height: 50px; background: slategray; width: 100%; margin: 0px">
    <div class="row" style="margin: 5px">
        @if (Model.HasClaim(Model.Claims, "permission", "ui.eisec"))
        {
            <button type="button" class="btn btn-primary" style="width: 75px">Ext: 31</button>
            <button id="cli" type="button" class="btn btn-default" style="width: 200px">No Telephone </button>
            <button id="cla" type="button" class="btn btn-default">No Address</button>
        }
    </div>
</div>

<div id="properties" class="dialog" title="Properties">
    <div class="panel-body">
        <div class="row-fluid">
            <table id="property-table" class="form-group" style="width: 100%">
                <thead><tr><td><b>Key</b></td><td><b>Value</b></td></tr></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div id="SearchDialog" class="dialog" title="Information">
    <div class="panel-body" id="searchbox">
        @if (Model.HasClaim(Model.Claims, "permission", "ui.search"))
        {
            <div class="row-fluid">
                <div>
                    <input autofocus="autofocus" id="search_input_text" type="text" class="form-control search" placeholder="Search (shift ` to clear)" />
                    @*<button type="button" class="btn btn-primary pull-right search-controls" id="go-btn"><i class="fa fa-search "></i>&nbsp;&nbsp;Go</button>*@
                </div>
            </div>
                            <div class="row-fluid">
                                <input id="final_text" type="text" class="form-control search" placeholder="Search (shift ` to clear)" />
                                <button type="button" class="btn btn-primary pull-right search-controls" id="send-btn"><i class="fa fa-share "></i>&nbsp;&nbsp;Go</button>
                            </div>
        }
        <div class="row-fluid">
            <span id="message"></span>
            <span id="message-wait" style="visibility: collapse">searching..</span>
        </div>

        <div class="row-fluid">
            @if (Model.HasClaim(Model.Claims, "permission", "ui.boundsLock"))
            {
                <button type="button" class="btn btn-default search-controls" id="boundsfilter" data-toggle="tooltip" title="lock to map">
                    <i class="fa fa-unlock"></i>
                </button>
            }

            @if (Model.HasClaim(Model.Claims, "permission", "ui.searchModes"))
            {
                <button type="button" class="btn btn-default search-controls" id="relax" data-toggle="tooltip" title="search mode">Relax</button>
            }
            @if (Model.HasClaim(Model.Claims, "permission", "ui.coordSearch"))
            {
                <button type="button" class="btn btn-default search-controls" id="search-coord" style="margin-right: 5px;" title="search coordinates">
                    <i class="fa fa-arrows fa-lg"></i>
                </button>
            }
        </div>
        @if (Model.HasClaim(Model.Claims, "permission", "ui.indexGroups"))
        {

            <div class="row-fluid">
                @if (Model.IndexGroups != null)
                {
                    foreach (var item in Model.IndexGroups)
                    {
                        if (item.isEnabled)
                        {
                            if (item.isDefault)
                            {
                                <button type="button" id="@item.Name" class="index-controls btn-warning">@item.Name</button>
                            }
                            else
                            {
                                <button type="button" id="@item.Name" class="index-controls btn-primary">@item.Name</button>
                            }
                        }
                    }
                }
            </div>
        }


        @if (Model.HasClaim(Model.Claims, "permission", "ui.addressGroups"))
        {
            <div class="row-fluid">
                <label class="radio-inline"><input type="radio" value="none" name="group-opt-radio" checked="checked">none</label>
                <label class="radio-inline"><input type="radio" value="thoroughfare" name="group-opt-radio">street</label>
                <label class="radio-inline"><input type="radio" value="description" name="group-opt-radio">description</label>
                <label class="radio-inline"><input type="radio" value="type" name="group-opt-radio">type</label>
            </div>
        }


    </div>
</div>

<div id="ResultsDialog" class="dialog" title="Information">
    <div class="list-results">
        <div id="grouped-results-list"></div>
    </div>
</div>

<div id="RoutingCompareDialog" class="dialog" title="Information">
    <div>
        <div class="ui-widget hidden routing_engine_status">
            <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
                <p>
                    <span class="ui-icon ui-icon-alert"></span>
                    <strong>Routing engine:</strong> Not ready yet
                </p>
            </div>
        </div>
        <div>
            <label for="route-incrouteid">Route id</label>
            <input id="route-incrouteid" type="text" class="form-control route-text-field" placeholder="incident route id" style="width: 340px; display:inline" />
        </div>
        @Html.DropDownList("route-sc", new[]
            {
                new SelectListItem {Text= "VariableSpeedByEdge", Selected = true},
                new SelectListItem { Text = "RoadTypeSpeedCalculator" },
                new SelectListItem { Text = "VariableSpeedHoD" },
                new SelectListItem { Text = "VariableSpeedHoW" },
                new SelectListItem { Text = "ConstantSpeedCalculator" },
                new SelectListItem { Text = "LASRoadTypeSpeedCalculator" },
                new SelectListItem { Text = "GPSRoadTypeSpeedCalculator" },
                new SelectListItem { Text = "HMMVRoadTypeSpeedCalculator" }
            })
        <button class="btn btn-primary" data-dismiss="modal" id="route_cmp_btn">Route</button>
    </div>
</div>

<div id="RoutingDialog" class="dialog" title="Information">
    <div>
        <div class="ui-widget hidden routing_engine_status">
            <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
                <p>
                    <span class="ui-icon ui-icon-alert"></span>
                    <strong>Routing engine:</strong> Not ready yet
                </p>
            </div>
        </div>
        <div>
            <input id="route-from" type="text" class="form-control route-text-field" placeholder="From location" style="width: 340px; display:inline" />
            <button type="button" class="btn btn-default search-controls pull-right" id="from-coord" style="margin-right: 5px;" title="search coordinates">
                <i class="fa fa-arrows fa-lg"></i>
            </button>
        </div>
        <div>
            <input id="route-to" type="text" class="form-control route-text-field" placeholder="To location" style="width: 340px; display:inline" />
            <button type="button" class="btn btn-default search-controls pull-right" id="to-coord" style="margin-right: 5px;" title="search coordinates">
                <i class="fa fa-arrows fa-lg"></i>
            </button>
        </div>
        <input id="route-vehicle" value="AEU" type="text" class="form-control route-text-field" placeholder="AEU or FRU" />
        <input id="route-hour" value="9" type="text" class="form-control route-text-field" placeholder="Hour of Day" />
        @Html.DropDownList("route-sc", new[]
            {
                new SelectListItem {Text= "VariableSpeedByEdge", Selected = true},
                new SelectListItem { Text = "RoadTypeSpeedCalculator" },
                new SelectListItem { Text = "VariableSpeedHoD" },
                new SelectListItem { Text = "VariableSpeedHoW" },
                new SelectListItem { Text = "ConstantSpeedCalculator" },
                new SelectListItem { Text = "LASRoadTypeSpeedCalculator" },
                new SelectListItem { Text = "GPSRoadTypeSpeedCalculator" },
                new SelectListItem { Text = "HMMVRoadTypeSpeedCalculator" }
                
            })
        <button class="btn btn-primary" data-dismiss="modal" id="route_btn">Route</button>
        <button class="btn btn-primary" data-dismiss="modal" id="clrroute_btn">Clear</button>
    </div>
</div>

<div id="TimelineDialog" class="dialog" title="Search visuals">

    <div>
        <div id="resource-list-div">
            <div class="form-group">
                <label for="visStartTimeDatetimepicker">Select date:</label>
                <div class="input-group date">
                    <input type="text" id="visStartTimeDatetimepicker" placeholder="Choose start date" class='datepicker-here form-control' data-language='en' />
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
                <label for="visEndTimeDatetimepicker">Select date:</label>
                <div class="input-group date">
                    <input type="text" id="visEndTimeDatetimepicker" placeholder="Choose end date" class='datepicker-here form-control' data-language='en' />
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="visSearchResource">Select resource:</label>
                <input class="form-control" id="visSearchResource" placeholder="Enter search text here." />

                <label for="visSearchIncident">Select incident:</label>
                <input class="form-control" id="visSearchIncident" placeholder="Enter search text here." />
            </div>
            <div class="form-group">
                <label for="selectVisuals">Select visual type(s):</label>
                <div id="selectVisuals" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="checkbox" id="Status" name="visuals" autocomplete="off" value="Status"> Status
                    </label>
                    <label class="btn btn-default">
                        <input type="checkbox" id="Route" name="visuals" autocomplete="off" value="Route"> Route
                    </label>
                    <label class="btn btn-default">
                        <input type="checkbox" id="Track" name="visuals" autocomplete="off" value="Track"> Track
                    </label>
                    <label class="btn btn-default">
                        <input type="checkbox" id="Coverage" name="visuals" autocomplete="off" value="Coverage"> Coverage
                    </label>
                </div>
            </div>

            <div class="row" style="padding-right: 20px;">
                <input id="visualise-btn" type="button" class="btn-warning search-controls pull-right" style="width: 100px;" value="Visualise" />
            </div>

        </div>
    </div>
    <div class="row-fluid">
        <div id="coverage-container"></div>
    </div>
</div>

<div id="managespatial-dialog" class="dialog" title="Manage Spatial Data">
    <div style="height: 100%; cursor: default;">
        <label for="spatialfile">Upload spatial file:</label>
        <input type="file" name="file" id="spatialfile" />
    </div>
    <div class="footer" style="padding-right: 20px;cursor: default;bottom: 0px;position: absolute;right: 0px;">
        <input id="managespatial-go" type="button" class="btn-warning search-controls pull-right" style="width: 100px;" value="Upload" />
    </div>
</div>

<div id="mapmatcher-dialog" class="dialog" title="Map Matcher Query">
    <div style="height: 100%; cursor: default;">
        <label for="visquery_parameters">Parameters:</label>
        <textarea id="visquery_parameters" placeholder="parameters" style="width: 100%; height: calc(100% - 75px)">
MapMatcher="HmmViterbiMapMatcherUnop",
MaxCandidates=100,
RoadGeometryRange=50,
RoadEndpointEnvelope=50,
DirectionTolerance=135,
RoutingEngine="DijkstraRoutingEngine",
RoutingData="Standard",
Track="db.inc:3236039",
MinSeconds=10,
MinDistance=5,
MaxSpeed=80,
Skip=3,Take=999,
Emission="GpsEmission", EmissionP1=1, EmissionP2=0,
Transition="Exponential", TransitionP1=0.0168,TransitionP2=0,
SumProbability=false,
NormaliseTransition=false,
NormaliseEmission=false,
GenerateGraphVis=false   
        </textarea>
    </div>
    <div class="footer" style="padding-right: 20px;cursor: default;bottom: 0px;position: absolute;right: 0px;">
        <input id="visquery-clr" type="button" class="btn-warning search-controls pull-right" style="width: 100px;" value="Clear" />
        <input id="visquery-go" type="button" class="btn-warning search-controls pull-right" style="width: 100px;" value="Visualise" />
    </div>
</div>

<div id="AnimationDialog" class="dialog" title="Information">
    <div id="animation-container" style="float:right;width:100%;height:100%; overflow:auto">
        <div id="timeline-container" style="width:100%;float:left; height:100%"></div>
        <div style="clear:both;"></div>
    </div>
    <div style="clear:both;"></div>
</div>

<div id="LOCDialog" class="dialog" title="Information">
    <div id="LOCContent"></div>
</div>

<div id="IOIDialog" class="dialog" title="Information">
    <div id="IOIContent"></div>
</div>

<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Welcome to Quest</h4>
            </div>
            <div class="modal-body">
                <div id="help">
                    <dl class="dl-horizontal" style="overflow-y:auto">
                        <dt>Normal search</dt>
                        <dd>type any part of the address e.g. BR6 6EF 24</dd>
                        <dt>Normal search by type</dt>
                        <dd>type address/poi/jct then the address e.g. property BR6 6EF</dd>
                        <dt>Junctions, one road </dt>
                        <dd>High Beeches / </dd>
                        <dt>Junctions, two roads </dt>
                        <dd>High Beeches / Windsor </dd>
                        <dt>Coordinates</dt>
                        <dd>51.45354,0.08784</dd>
                        <dt>Coordinates with range</dt>
                        <dd>51.45354,0.08784 250m</dd>
                        <dt>Coordinates with filter</dt>
                        @* ReSharper disable Asp.Entity *@
                        <dd>48 &commat; 51.45354,0.08784</dd>
                        <dt>Click on the map</dt>
                        <dd>Try it!</dd>
                        <dt>Nearby (simple)</dt>
                        <dd>wagamama &commat; john lewis</dd>
                        <dt>Nearby with common part</dt>
                        <dd>tesco southwark &commat; union street southwark</dd>
                        <dt>Nearby with common part</dt>
                        <dd>tesco &commat; union street &commat; southwark</dd>
                        <dt>Nearby with range</dt>
                        <dd>tesco &commat;250 union street &commat; southwark</dd>
                    </dl>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="legendModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Map Legend</h4>
            </div>
            <div class="modal-body">
                <p>Map Legend</p>
                <ul>
                    <li>Address <div class="loc-Address leaflet-usermarker-loc"> </div></li>
                    <li>OSM <div class="loc-OSM leaflet-usermarker-loc"> </div></li>
                    <li>Junction <div class="loc-Junction"> </div></li>
                    <li>Bike <div class="loc-Bike leaflet-usermarker-loc"> </div></li>
                    <li>Bus <div class="loc-BUS leaflet-usermarker-loc"> </div></li>
                    <li>Local <div class="loc-LocalName leaflet-usermarker-loc"> </div></li>
                    <li>Marker Post <div class="loc-MarkerPost leaflet-usermarker-loc"> </div></li>
                    <li>POI <div class="loc-POI leaflet-usermarker-loc"> </div></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="categoriesmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Categories</h4>
            </div>
            <div class="modal-body">
                <div id="aggregates" class="row">
                    <div class="col-xs-12">
                        <div class="container">
                            <div id="aggregatesGrp" class="panel-group">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="indexerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Test Call</h4>
            </div>
            <div class="modal-body">
                <form id="cli-form">
                    <fieldset>
                        <div class="form-group">
                            <label for="indexer_index">Index:</label>
                            <input type="text" class="form-control" id="Indexer_Index" value="locations">
                        </div>
                        <div class="form-group">
                            <label for="Indexer_Indexers">Indexers:</label>
                            <input type="text" class="form-control" id="Indexer_Indexers" value="TfLBikeIndexer|TflStopIndexer|TfLBusIndexer|PoiIndexer|CameraIndexer|LocalNameIndexer|OverlayIndexer|OsmIndexer|HaIndexer|ItnIndexer|JunctionIndexer|NlpgIndexer|PafIndexer
|DefibIndexer">
                        </div>
                        <div class="form-group">
                            <label for="Indexer_IndexMode">IndexMode:</label>
                            <input type="text" class="form-control" id="Indexer_IndexMode" value="create">
                        </div>
                        <div class="form-group">
                            <label for="Indexer_Shards">Shards:</label>
                            <input type="text" class="form-control" id="Indexer_Shards" value="4">
                        </div>
                        <div class="form-group">
                            <label for="Indexer_Replicas">Replicas:</label>
                            <input type="text" class="form-control" id="Indexer_Replicas" value="0">
                        </div>
                        <div class="form-group">
                            <label for="Indexer_UseMaster">UseMaster:</label>
                            <input type="text" class="form-control" id="Indexer_UseMaster" value="true">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" id="Indexer_start">Start</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="callModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Test Call</h4>
            </div>
            <div class="modal-body">
                <form id="cli-form">
                    <fieldset>
                        <div class="form-group">
                            <label for="test_cli">CLI:</label>
                            <input type="text" class="form-control" id="test_cli">
                        </div>
                        <div class="form-group">
                            <label for="test_ext">Extension:</label>
                            <input type="text" class="form-control" id="test_ext">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" id="testcli_btn">Start</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalDestinationDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #282828; color: white">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Location Details</h4>
            </div>
            <div class="modal-body">
                <table id="tblDestDetails" style="font-size: 10pt">
                    <tr>
                        <td>
                            <label>Name:</label>
                        </td>
                        <td>
                            <label class="des_destination"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Coverage Tier:</label>
                        </td>
                        <td>
                            <label class="des_covertier"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Location Type:</label>
                        </td>
                        <td>
                            <label class="des_destype"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Nearby Vehicles:</label>
                        </td>
                        <td>
                            <label class="des_nearby"></label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                @if (Model.HasClaim(Model.Claims, "permission", "ui.dispatch"))
                {
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Dispatch</button>
                }
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalIncidentDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:#282828; color:white">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Incident Details</h4>
            </div>
            <div class="modal-body">
                <table id="tblIncDetails" style="font-size:10pt">
                    <tr>
                        <td>
                            <label class="incCadLabel">CAD Event:</label>
                        </td>
                        <td>
                            <label class="incCadValue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="incCreatedLabel">Created:</label>
                        </td>
                        <td>
                            <label class="incCreatedValue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="incPriorityLabel">Status/Priority:</label>
                        </td>
                        <td>
                            <label class="incPriorityValue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="incPatientLabel">Patient:</label>
                        </td>
                        <td>
                            <label class="incPatientValue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="incDeterminantLabel">Determinant:</label>
                        </td>
                        <td>
                            <label class="incDeterminantValue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="incDeterminantLabel">Problem:</label>
                        </td>
                        <td>
                            <label class="incProblemValue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="incLocationLabel">Location:</label>
                        </td>
                        <td>
                            <label class="incLocationValue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="incLocationLabel">Comments:</label>
                        </td>
                        <td>
                            <label class="incLocationCommentValue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="incMaprefLabel">Map Ref:</label>
                        </td>
                        <td>
                            <label class="incMaprefValue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="incResourcesLabel">Resources:</label>
                        </td>
                        <td>
                            <label class="incResourcesValue"></label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                @if (Model.HasClaim(Model.Claims, "permission", "ui.dispatch"))
                {
                    <button id="showDispatch" type="button" class="btn" data-dismiss="modal">Dispatch</button>
                }
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalResourceDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:#282828; color:white">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Resource Details</h4>
            </div>
            <div class="modal-body">
                <table id="tblResDetails" style="font-size:10pt">
                    <tr>
                        <td>
                            <label class="resCallsignLabel">Callsign:</label>
                        </td>
                        <td>
                            <label class="resCallsignValue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="resIncidentLabel">Incident:</label>
                        </td>
                        <td>
                            <label class="resIncidentValue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="resSkillLabel">Skill:</label>
                        </td>
                        <td>
                            <label class="resSkillValue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="resStatusLabel">Status:</label>
                        </td>
                        <td>
                            <label class="resStatusValue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="resCommentLabel">Comment:</label>
                        </td>
                        <td>
                            <label class="resCommentValue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="resAreaLabel">Area:</label>
                        </td>
                        <td>
                            <label class="resAreaValue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="resTimeLabel">Timestamp:</label>
                        </td>
                        <td>
                            <label class="resTimeValue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="resDestinationLabel">Destination:</label>
                        </td>
                        <td>
                            <label class="resDestinationValue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="resEtaLabel">ETA:</label>
                        </td>
                        <td>
                            <label class="resEtaValue"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="resEtaLabel">Nearest SBP:</label>
                        </td>
                        <td>
                            <label class="resStandbyValue"></label>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDispatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:#282828; color:white">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Dispatch Resources To Incident</h4>
            </div>
            <div class="modal-body">
                <table id="tblDispatchDetails" style="font-size:10pt">
                    <tr>
                        <td>
                            <label class="resCallsignLabel1">Event:</label>
                        </td>
                        <td>
                            <label class="dispatchEvent"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="resCallsignLabel">Callsigns:</label>
                        </td>
                        <td>
                            <input type="text" class="dispatchCallsign" style="color: black; text-transform:capitalize " />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="resCallsignLabel">Nearby First Responders:</label>
                        </td>
                        <td>
                            <input type="checkbox" class="resfirst"></>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                @if (Model.HasClaim(Model.Claims, "permission", "ui.dispatch"))
                {
                    <button id="dispatch" type="button" class="btn" data-dismiss="modal">Ok</button>
                }
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Help</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="settings-res" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Resource Settings</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <table>
                        <tr>
                            <td style="padding-top:10px" colspan="4">
                                <h4>Resources</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Available</label>
                            </td>
                            <td>
                                <input id="layer-res-avail" type="checkbox" data-toggle="toggle" data-size="small">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Busy</label>
                            </td>
                            <td>
                                <input id="layer-res-busy" type="checkbox" data-toggle="toggle" data-size="small">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Use clusters</label>
                            </td>
                            <td>
                                <input id="use-clusters" type="checkbox" data-toggle="toggle" data-size="small">
                            </td>
                        </tr>
                        @if (true)
                        {
                            <tr>
                                <td style="padding-top:20px" colspan="4">
                                    <h4>Coverage</h4>
                                </td>
                            </tr>
                                            <tr>
                                                <td>
                                                    <label>AEU Response</label>
                                                </td>
                                                <td>
                                                    <input id="cov-amb" type="checkbox" data-toggle="toggle" data-size="small">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>FRU Response</label>
                                                </td>
                                                <td>
                                                    <input id="cov-fru" type="checkbox" data-toggle="toggle" data-size="small">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Combined</label>
                                                </td>
                                                <td>
                                                    <input id="cov-combined" type="checkbox" data-toggle="toggle" data-size="small">
                                                </td>
                                            </tr>
                        }

                    </table>
                </fieldset>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-primary" data-dismiss="modal">Apply</button>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<div class="modal fade" id="settings-inc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Event Settings</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <table>
                        <tr>
                            <td style="padding-top:10px" colspan="4">
                                <h4>Events</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Urgent</label>
                            </td>
                            <td>
                                <input id="layer-inc-cata" type="checkbox" data-toggle="toggle" data-size="small">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Immediate and Other</label>
                            </td>
                            <td>
                                <input id="layer-inc-catc" type="checkbox" data-toggle="toggle" data-size="small">
                            </td>
                        </tr>
                        @if (true)
                        {
                            <tr>
                                <td style="padding-top:20px" colspan="4">
                                    <h4>Coverage</h4>
                                </td>
                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Vunerable coverage</label>
                                                </td>
                                                <td>
                                                    <input id="cov-holes" type="checkbox" data-toggle="toggle" data-size="small">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Incident Prediction</label>
                                                </td>
                                                <td>
                                                    <input id="cov-inc" type="checkbox" data-toggle="toggle" data-size="small">
                                                </td>
                                            </tr>
                        }

                    </table>
                </fieldset>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-primary" data-dismiss="modal">Apply</button>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

<div class="modal fade" id="settings-lay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Layers</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <table>
                        <tr>
                            <td style="padding-top:10px" colspan="4">
                                <h4>Layers</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Stations</label>
                            </td>
                            <td>
                                <input id="layer-station" type="checkbox" data-toggle="toggle" data-size="small">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Hospitals (A&amp;E)</label>
                            </td>
                            <td>
                                <input id="layer-hosp-ae" type="checkbox" data-toggle="toggle" data-size="small">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Hospitals (other)</label>
                            </td>
                            <td>
                                <input id="layer-hosp-other" type="checkbox" data-toggle="toggle" data-size="small">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Standby Points</label>
                            </td>
                            <td>
                                <input id="layer-sbp" type="checkbox" data-toggle="toggle" data-size="small">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Road locations</label>
                            </td>
                            <td>
                                <input id="layer-road" type="checkbox" data-toggle="toggle" data-size="small">
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-primary" data-dismiss="modal">Apply</button>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->

</div>

<div id="container" class="container" style="height: calc(100% - 50); width: 100%; margin: 0px">
    <div id="map"></div>
</div>

