@model IEnumerable<Quest.Lib.DataModel.Device>

@{
    ViewBag.Title = "Index";
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/core")
    @Styles.Render("~/Content/map")
}


<h2>Device List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resource.Callsign.Callsign1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceMake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastStatusUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geometry.XCoordinate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Geometry.YCoordinate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendNearby)
        </th>
        <td>
            @Html.DisplayNameFor(model => model.LoggedOnTime)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.LoggedOffTime)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.DeviceRole.DeviceRoleName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resource.Callsign.Callsign1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastStatusUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geometry.XCoordinate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geometry.YCoordinate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendNearby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoggedOnTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoggedOffTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceRole.DeviceRoleName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DeviceID }) |
                @Html.ActionLink("Details", "Details", new { id = item.DeviceID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DeviceID })
            </td>
        </tr>
    }

</table>
