@model dynamic


<div style="color: white; width: 100%; margin: 5px">
    <div>
        <div style="font-weight:800; font-size:medium; width:50%" class="">@Model["t"].Value</div>
        <p>@Model["d"].Value</p>
        <div>
            @if (Model["url"] != null && ((string)Model["url"]).Trim().Length > 0)
            {
                <p>@Html. <a target="_blank" href='@Model["url"]'>@Model["url"]</a></p>
            }
        </div>
        <div>
            @if (Model["v"] != null && ((string)Model["v"]).Trim().Length > 0)
            {
                <video controls autoplay name="media"><source src="@Model["v"] " type="video/mp4"></video>
            }
        </div>
        <div>
            @if (Model["i"] != null && ((string)Model["i"]).Trim().Length > 0)
            {
                <div><image src='@Model["i"]' /></div>
            }
        </div>
        
    </div>
</div>
